

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE TYPE "public"."profession_type" AS ENUM (
    'General',
    'Medical',
    'Legal',
    'Accounting',
    'Engineering'
);


ALTER TYPE "public"."profession_type" OWNER TO "postgres";


COMMENT ON TYPE "public"."profession_type" IS 'Enumeration of supported profession types for the application';



CREATE OR REPLACE FUNCTION "public"."assign_first_user_admin"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    -- Check if this is the first user
    IF NOT EXISTS (SELECT 1 FROM user_roles) THEN
        INSERT INTO user_roles (user_id, role, created_by)
        VALUES (NEW.id, 'admin', NEW.id);
    END IF;
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."assign_first_user_admin"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."generate_recurring_invoice"("recurring_id" "uuid") RETURNS "uuid"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    recurring_record recurring_invoices%ROWTYPE;
    new_invoice_id UUID;
    next_date DATE;
BEGIN
    -- Get recurring invoice details
    SELECT * INTO recurring_record FROM recurring_invoices WHERE id = recurring_id;
    
    IF NOT FOUND THEN
        RAISE EXCEPTION 'Recurring invoice not found';
    END IF;
    
    -- Generate new invoice
    INSERT INTO invoices (
        customer_id, 
        recurring_invoice_id,
        items, 
        subtotal, 
        tax_amount, 
        total, 
        currency,
        status,
        due_date,
        user_id
    )
    SELECT 
        recurring_record.customer_id,
        recurring_record.id,
        recurring_record.template_data->'items',
        (recurring_record.template_data->>'subtotal')::DECIMAL,
        (recurring_record.template_data->>'tax_amount')::DECIMAL,
        (recurring_record.template_data->>'total')::DECIMAL,
        COALESCE(recurring_record.template_data->>'currency', 'ZAR'),
        'pending',
        CURRENT_DATE + INTERVAL '30 days',
        recurring_record.user_id
    RETURNING id INTO new_invoice_id;
    
    -- Calculate next invoice date
    CASE recurring_record.frequency
        WHEN 'weekly' THEN next_date := recurring_record.next_invoice_date + INTERVAL '7 days';
        WHEN 'monthly' THEN next_date := recurring_record.next_invoice_date + INTERVAL '1 month';
        WHEN 'quarterly' THEN next_date := recurring_record.next_invoice_date + INTERVAL '3 months';
        WHEN 'yearly' THEN next_date := recurring_record.next_invoice_date + INTERVAL '1 year';
    END CASE;
    
    -- Update next invoice date
    UPDATE recurring_invoices 
    SET next_invoice_date = next_date, updated_at = NOW()
    WHERE id = recurring_id;
    
    RETURN new_invoice_id;
END;
$$;


ALTER FUNCTION "public"."generate_recurring_invoice"("recurring_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."handle_new_user"() RETURNS "trigger"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    user_role_type TEXT := 'user';
    user_permissions JSONB;
BEGIN
    -- Check if this is the first user (make them admin)
    IF (SELECT COUNT(*) FROM auth.users) = 1 THEN
        user_role_type := 'admin';
        user_permissions := '[
            "invoice:create", "invoice:read", "invoice:update", "invoice:delete", "invoice:send",
            "quote:create", "quote:read", "quote:update", "quote:delete", "quote:convert",
            "customer:create", "customer:read", "customer:update", "customer:delete",
            "payment:create", "payment:read", "payment:update", "payment:delete",
            "recurring:create", "recurring:read", "recurring:update", "recurring:delete",
            "currency:manage", "currency:rates",
            "reports:view", "reports:export",
            "admin:users", "admin:roles", "admin:settings", "admin:backup"
        ]'::jsonb;
    ELSE
        user_permissions := '[
            "invoice:create", "invoice:read", "invoice:update", "invoice:send",
            "quote:create", "quote:read", "quote:update", "quote:convert",
            "customer:create", "customer:read", "customer:update",
            "payment:create", "payment:read", "payment:update",
            "recurring:create", "recurring:read", "recurring:update",
            "reports:view"
        ]'::jsonb;
    END IF;
    
    -- Create profile (ignore conflicts)
    INSERT INTO public.profiles (user_id, email, full_name, role)
    VALUES (NEW.id, NEW.email, NEW.raw_user_meta_data->>'full_name', user_role_type)
    ON CONFLICT (user_id) DO NOTHING;
    
    -- Create default user role (ignore conflicts)
    INSERT INTO public.user_roles (user_id, role, name, description, permissions, is_active)
    VALUES (
        NEW.id, 
        user_role_type, 
        CASE WHEN user_role_type = 'admin' THEN 'Administrator' ELSE 'User' END,
        CASE WHEN user_role_type = 'admin' THEN 'Full system access with all permissions' ELSE 'Standard user access' END,
        user_permissions,
        true
    )
    ON CONFLICT DO NOTHING;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."handle_new_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_first_user"() RETURNS boolean
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
    RETURN (SELECT COUNT(*) FROM auth.users) <= 1;
END;
$$;


ALTER FUNCTION "public"."is_first_user"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_exchange_rates"("rates" "jsonb") RETURNS "void"
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
DECLARE
    currency_code TEXT;
    rate DECIMAL(10,6);
BEGIN
    FOR currency_code, rate IN SELECT * FROM jsonb_each_text(rates)
    LOOP
        UPDATE currencies 
        SET exchange_rate = rate::DECIMAL(10,6), updated_at = NOW()
        WHERE code = currency_code;
    END LOOP;
END;
$$;


ALTER FUNCTION "public"."update_exchange_rates"("rates" "jsonb") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_user_roles_updated_at"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_user_roles_updated_at"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."app_settings" (
    "id" bigint DEFAULT 1 NOT NULL,
    "quote_prefix" "text" DEFAULT 'QU-'::"text",
    "next_quote_number" bigint DEFAULT 1001,
    "invoice_prefix" "text" DEFAULT 'INV-'::"text",
    "next_invoice_number" bigint DEFAULT 2025001,
    "user_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "terms_and_conditions" "text" DEFAULT ''::"text",
    "pdf_template" "text" DEFAULT 'classic-blue'::"text",
    "profession" "public"."profession_type" DEFAULT 'General'::"public"."profession_type"
);


ALTER TABLE "public"."app_settings" OWNER TO "postgres";


COMMENT ON COLUMN "public"."app_settings"."profession" IS 'Default profession type for the user/organization';



CREATE TABLE IF NOT EXISTS "public"."company_profile" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "company_name" "text" NOT NULL,
    "address" "text" NOT NULL,
    "email" "text" NOT NULL,
    "phone" "text",
    "user_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "logo_url" "text",
    "company_registration_number" "text",
    "tax_number" "text"
);


ALTER TABLE "public"."company_profile" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."company_settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "company_name" character varying(255) NOT NULL,
    "primary_currency" character varying(3) DEFAULT 'ZAR'::character varying NOT NULL,
    "payment_gateway_config" "jsonb" DEFAULT '{}'::"jsonb",
    "email_templates" "jsonb" DEFAULT '{}'::"jsonb",
    "pdf_templates" "jsonb" DEFAULT '{}'::"jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."company_settings" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."currencies" (
    "code" character varying(3) NOT NULL,
    "name" character varying(100) NOT NULL,
    "symbol" character varying(10) NOT NULL,
    "exchange_rate" numeric(10,6) DEFAULT 1.0 NOT NULL,
    "is_active" boolean DEFAULT true,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."currencies" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."customers" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "email" "text" NOT NULL,
    "address" "text" NOT NULL,
    "phone" "text",
    "user_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "currency" character varying(3) DEFAULT 'ZAR'::character varying,
    "payment_terms" integer DEFAULT 30,
    "credit_limit" numeric(10,2)
);


ALTER TABLE "public"."customers" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."invoices" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "invoice_number" "text" NOT NULL,
    "quote_id" "uuid",
    "client_details" "jsonb" NOT NULL,
    "line_items" "jsonb" NOT NULL,
    "totals" "jsonb" NOT NULL,
    "status" "text" DEFAULT 'draft'::"text",
    "due_date" timestamp with time zone,
    "paid_date" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "currency" character varying(3) DEFAULT 'ZAR'::character varying,
    "recurring_invoice_id" "uuid",
    "exchange_rate" numeric(10,6) DEFAULT 1.0
);


ALTER TABLE "public"."invoices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."payments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "invoice_id" "uuid" NOT NULL,
    "payment_reference" character varying(255) NOT NULL,
    "amount" numeric(10,2) NOT NULL,
    "currency" character varying(3) DEFAULT 'ZAR'::character varying NOT NULL,
    "status" character varying(20) DEFAULT 'pending'::character varying NOT NULL,
    "gateway" character varying(50) DEFAULT 'paystack'::character varying NOT NULL,
    "gateway_response" "jsonb",
    "paid_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "payments_status_check" CHECK ((("status")::"text" = ANY ((ARRAY['pending'::character varying, 'successful'::character varying, 'failed'::character varying, 'cancelled'::character varying])::"text"[])))
);


ALTER TABLE "public"."payments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "email" "text",
    "full_name" "text",
    "avatar_url" "text",
    "phone" "text",
    "company" "text",
    "role" "text" DEFAULT 'user'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."quotes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "quote_number" "text" NOT NULL,
    "client_details" "jsonb" NOT NULL,
    "line_items" "jsonb" NOT NULL,
    "totals" "jsonb" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "status" "text" DEFAULT 'pending'::"text",
    "currency" character varying(3) DEFAULT 'ZAR'::character varying,
    "exchange_rate" numeric(10,6) DEFAULT 1.0,
    "profession" "public"."profession_type" DEFAULT 'General'::"public"."profession_type"
);


ALTER TABLE "public"."quotes" OWNER TO "postgres";


COMMENT ON COLUMN "public"."quotes"."profession" IS 'Profession type that determines the quote layout and fields';



CREATE TABLE IF NOT EXISTS "public"."recurring_invoices" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "customer_id" "uuid" NOT NULL,
    "template_data" "jsonb" NOT NULL,
    "frequency" character varying(20) NOT NULL,
    "start_date" "date" NOT NULL,
    "end_date" "date",
    "next_invoice_date" "date" NOT NULL,
    "is_active" boolean DEFAULT true,
    "user_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "recurring_invoices_frequency_check" CHECK ((("frequency")::"text" = ANY ((ARRAY['weekly'::character varying, 'monthly'::character varying, 'quarterly'::character varying, 'yearly'::character varying])::"text"[])))
);


ALTER TABLE "public"."recurring_invoices" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."user_roles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "user_id" "uuid" NOT NULL,
    "role" character varying(20) NOT NULL,
    "permissions" "jsonb" DEFAULT '{}'::"jsonb",
    "created_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "name" "text",
    "description" "text",
    "is_active" boolean DEFAULT true,
    CONSTRAINT "user_roles_role_check" CHECK ((("role")::"text" = ANY ((ARRAY['admin'::character varying, 'sales'::character varying, 'viewer'::character varying])::"text"[])))
);


ALTER TABLE "public"."user_roles" OWNER TO "postgres";


ALTER TABLE ONLY "public"."app_settings"
    ADD CONSTRAINT "app_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."company_profile"
    ADD CONSTRAINT "company_profile_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."company_settings"
    ADD CONSTRAINT "company_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."company_settings"
    ADD CONSTRAINT "company_settings_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."currencies"
    ADD CONSTRAINT "currencies_pkey" PRIMARY KEY ("code");



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."invoices"
    ADD CONSTRAINT "invoices_invoice_number_key" UNIQUE ("invoice_number");



ALTER TABLE ONLY "public"."invoices"
    ADD CONSTRAINT "invoices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_payment_reference_key" UNIQUE ("payment_reference");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_user_id_key" UNIQUE ("user_id");



ALTER TABLE ONLY "public"."quotes"
    ADD CONSTRAINT "quotes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."quotes"
    ADD CONSTRAINT "quotes_quote_number_key" UNIQUE ("quote_number");



ALTER TABLE ONLY "public"."recurring_invoices"
    ADD CONSTRAINT "recurring_invoices_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_user_id_key" UNIQUE ("user_id");



CREATE INDEX "customers_email_idx" ON "public"."customers" USING "btree" ("email");



CREATE INDEX "customers_name_idx" ON "public"."customers" USING "btree" ("name");



CREATE INDEX "customers_user_id_idx" ON "public"."customers" USING "btree" ("user_id");



CREATE INDEX "idx_company_settings_user_id" ON "public"."company_settings" USING "btree" ("user_id");



CREATE INDEX "idx_customers_currency" ON "public"."customers" USING "btree" ("currency");



CREATE INDEX "idx_invoices_currency" ON "public"."invoices" USING "btree" ("currency");



CREATE INDEX "idx_invoices_recurring_id" ON "public"."invoices" USING "btree" ("recurring_invoice_id");



CREATE INDEX "idx_payments_created_at" ON "public"."payments" USING "btree" ("created_at" DESC);



CREATE INDEX "idx_payments_invoice_id" ON "public"."payments" USING "btree" ("invoice_id");



CREATE INDEX "idx_payments_reference" ON "public"."payments" USING "btree" ("payment_reference");



CREATE INDEX "idx_payments_status" ON "public"."payments" USING "btree" ("status");



CREATE INDEX "idx_quotes_currency" ON "public"."quotes" USING "btree" ("currency");



CREATE INDEX "idx_quotes_profession" ON "public"."quotes" USING "btree" ("profession");



CREATE INDEX "idx_recurring_invoices_active" ON "public"."recurring_invoices" USING "btree" ("is_active");



CREATE INDEX "idx_recurring_invoices_customer_id" ON "public"."recurring_invoices" USING "btree" ("customer_id");



CREATE INDEX "idx_recurring_invoices_next_date" ON "public"."recurring_invoices" USING "btree" ("next_invoice_date");



CREATE INDEX "idx_recurring_invoices_user_id" ON "public"."recurring_invoices" USING "btree" ("user_id");



CREATE INDEX "idx_user_roles_role" ON "public"."user_roles" USING "btree" ("role");



CREATE INDEX "idx_user_roles_user_id" ON "public"."user_roles" USING "btree" ("user_id");



CREATE INDEX "profiles_email_idx" ON "public"."profiles" USING "btree" ("email");



CREATE INDEX "profiles_user_id_idx" ON "public"."profiles" USING "btree" ("user_id");



CREATE UNIQUE INDEX "user_roles_user_id_role_idx" ON "public"."user_roles" USING "btree" ("user_id", "role");



CREATE OR REPLACE TRIGGER "update_customers_updated_at" BEFORE UPDATE ON "public"."customers" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_profiles_updated_at" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_user_roles_updated_at_trigger" BEFORE UPDATE ON "public"."user_roles" FOR EACH ROW EXECUTE FUNCTION "public"."update_user_roles_updated_at"();



ALTER TABLE ONLY "public"."company_profile"
    ADD CONSTRAINT "company_profile_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."company_settings"
    ADD CONSTRAINT "company_settings_primary_currency_fkey" FOREIGN KEY ("primary_currency") REFERENCES "public"."currencies"("code");



ALTER TABLE ONLY "public"."company_settings"
    ADD CONSTRAINT "company_settings_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_currency_fkey" FOREIGN KEY ("currency") REFERENCES "public"."currencies"("code");



ALTER TABLE ONLY "public"."customers"
    ADD CONSTRAINT "customers_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."invoices"
    ADD CONSTRAINT "invoices_currency_fkey" FOREIGN KEY ("currency") REFERENCES "public"."currencies"("code");



ALTER TABLE ONLY "public"."invoices"
    ADD CONSTRAINT "invoices_quote_id_fkey" FOREIGN KEY ("quote_id") REFERENCES "public"."quotes"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."invoices"
    ADD CONSTRAINT "invoices_recurring_invoice_id_fkey" FOREIGN KEY ("recurring_invoice_id") REFERENCES "public"."recurring_invoices"("id");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_currency_fkey" FOREIGN KEY ("currency") REFERENCES "public"."currencies"("code");



ALTER TABLE ONLY "public"."payments"
    ADD CONSTRAINT "payments_invoice_id_fkey" FOREIGN KEY ("invoice_id") REFERENCES "public"."invoices"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."quotes"
    ADD CONSTRAINT "quotes_currency_fkey" FOREIGN KEY ("currency") REFERENCES "public"."currencies"("code");



ALTER TABLE ONLY "public"."recurring_invoices"
    ADD CONSTRAINT "recurring_invoices_customer_id_fkey" FOREIGN KEY ("customer_id") REFERENCES "public"."customers"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."recurring_invoices"
    ADD CONSTRAINT "recurring_invoices_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id");



ALTER TABLE ONLY "public"."user_roles"
    ADD CONSTRAINT "user_roles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



CREATE POLICY "Admins can delete roles" ON "public"."user_roles" FOR DELETE USING ((EXISTS ( SELECT 1
   FROM "public"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND (("ur"."role")::"text" = 'admin'::"text")))));



CREATE POLICY "Admins can insert roles" ON "public"."user_roles" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND (("ur"."role")::"text" = 'admin'::"text")))));



CREATE POLICY "Admins can manage currencies" ON "public"."currencies" USING ((EXISTS ( SELECT 1
   FROM "public"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND (("ur"."role")::"text" = 'admin'::"text")))));



CREATE POLICY "Admins can update roles" ON "public"."user_roles" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "public"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND (("ur"."role")::"text" = 'admin'::"text")))));



CREATE POLICY "Admins can view all roles" ON "public"."user_roles" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."user_roles" "ur"
  WHERE (("ur"."user_id" = "auth"."uid"()) AND (("ur"."role")::"text" = 'admin'::"text")))));



CREATE POLICY "Allow all users to read currencies" ON "public"."currencies" FOR SELECT USING (true);



CREATE POLICY "Allow authenticated users to insert currencies" ON "public"."currencies" FOR INSERT WITH CHECK (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Allow users to delete their own roles" ON "public"."user_roles" FOR DELETE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to insert their own roles" ON "public"."user_roles" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to update their own roles" ON "public"."user_roles" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Allow users to view their own roles" ON "public"."user_roles" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Anyone can view active currencies" ON "public"."currencies" FOR SELECT USING (("is_active" = true));



CREATE POLICY "Enable delete for authenticated users (no user_id)" ON "public"."currencies" FOR DELETE USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Enable update for authenticated users (no user_id)" ON "public"."currencies" FOR UPDATE USING (("auth"."role"() = 'authenticated'::"text"));



CREATE POLICY "Users can delete own company profile" ON "public"."company_profile" FOR DELETE TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert own company profile" ON "public"."company_profile" FOR INSERT TO "authenticated" WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can insert own profile" ON "public"."profiles" FOR INSERT WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own app settings" ON "public"."app_settings" TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own company settings" ON "public"."company_settings" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own customers" ON "public"."customers" TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can manage their own invoices" ON "public"."invoices" TO "authenticated" USING ((("client_details" ->> 'user_id'::"text") = ("auth"."uid"())::"text")) WITH CHECK ((("client_details" ->> 'user_id'::"text") = ("auth"."uid"())::"text"));



CREATE POLICY "Users can manage their own quotes" ON "public"."quotes" TO "authenticated" USING ((("auth"."uid"())::"text" = ("client_details" ->> 'user_id'::"text"))) WITH CHECK ((("auth"."uid"())::"text" = ("client_details" ->> 'user_id'::"text")));



CREATE POLICY "Users can manage their own recurring invoices" ON "public"."recurring_invoices" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can read own company profile" ON "public"."company_profile" FOR SELECT TO "authenticated" USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own company profile" ON "public"."company_profile" FOR UPDATE TO "authenticated" USING (("auth"."uid"() = "user_id")) WITH CHECK (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can update own profile" ON "public"."profiles" FOR UPDATE USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view own profile" ON "public"."profiles" FOR SELECT USING (("auth"."uid"() = "user_id"));



CREATE POLICY "Users can view payments for their invoices" ON "public"."payments" FOR SELECT USING ((EXISTS ( SELECT 1
   FROM "public"."invoices" "i"
  WHERE (("i"."id" = "payments"."invoice_id") AND (("i"."client_details" ->> 'user_id'::"text") = ("auth"."uid"())::"text")))));



CREATE POLICY "Users can view their own role" ON "public"."user_roles" FOR SELECT USING (("auth"."uid"() = "user_id"));



ALTER TABLE "public"."app_settings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."company_profile" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."company_settings" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."currencies" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."customers" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."invoices" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."payments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."quotes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."recurring_invoices" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."user_roles" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."assign_first_user_admin"() TO "anon";
GRANT ALL ON FUNCTION "public"."assign_first_user_admin"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."assign_first_user_admin"() TO "service_role";



GRANT ALL ON FUNCTION "public"."generate_recurring_invoice"("recurring_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."generate_recurring_invoice"("recurring_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."generate_recurring_invoice"("recurring_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."handle_new_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."is_first_user"() TO "anon";
GRANT ALL ON FUNCTION "public"."is_first_user"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_first_user"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_exchange_rates"("rates" "jsonb") TO "anon";
GRANT ALL ON FUNCTION "public"."update_exchange_rates"("rates" "jsonb") TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_exchange_rates"("rates" "jsonb") TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_user_roles_updated_at"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_user_roles_updated_at"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_user_roles_updated_at"() TO "service_role";



GRANT ALL ON TABLE "public"."app_settings" TO "anon";
GRANT ALL ON TABLE "public"."app_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."app_settings" TO "service_role";



GRANT ALL ON TABLE "public"."company_profile" TO "anon";
GRANT ALL ON TABLE "public"."company_profile" TO "authenticated";
GRANT ALL ON TABLE "public"."company_profile" TO "service_role";



GRANT ALL ON TABLE "public"."company_settings" TO "anon";
GRANT ALL ON TABLE "public"."company_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."company_settings" TO "service_role";



GRANT ALL ON TABLE "public"."currencies" TO "anon";
GRANT ALL ON TABLE "public"."currencies" TO "authenticated";
GRANT ALL ON TABLE "public"."currencies" TO "service_role";



GRANT ALL ON TABLE "public"."customers" TO "anon";
GRANT ALL ON TABLE "public"."customers" TO "authenticated";
GRANT ALL ON TABLE "public"."customers" TO "service_role";



GRANT ALL ON TABLE "public"."invoices" TO "anon";
GRANT ALL ON TABLE "public"."invoices" TO "authenticated";
GRANT ALL ON TABLE "public"."invoices" TO "service_role";



GRANT ALL ON TABLE "public"."payments" TO "anon";
GRANT ALL ON TABLE "public"."payments" TO "authenticated";
GRANT ALL ON TABLE "public"."payments" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."quotes" TO "anon";
GRANT ALL ON TABLE "public"."quotes" TO "authenticated";
GRANT ALL ON TABLE "public"."quotes" TO "service_role";



GRANT ALL ON TABLE "public"."recurring_invoices" TO "anon";
GRANT ALL ON TABLE "public"."recurring_invoices" TO "authenticated";
GRANT ALL ON TABLE "public"."recurring_invoices" TO "service_role";



GRANT ALL ON TABLE "public"."user_roles" TO "anon";
GRANT ALL ON TABLE "public"."user_roles" TO "authenticated";
GRANT ALL ON TABLE "public"."user_roles" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";






RESET ALL;
